name: npm-package-deploy.yml
on:
  push:
    branches: [ main ]
jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '23'
      - run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
      - run: npm ci
      - run: npm run build:lib
      - run: npm run pack
      - run: npm run publish:public -- --tag "latest"